<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <ngx-spinner  bdOpacity = 0.9 bdColor = "rgba(147,140,140,0.43)" size = "medium" color = "#800000" type = "ball-atom" [fullScreen] = "true">
        <p style="color: white" > Loading... </p>
    </ngx-spinner>
    <div class="head">
        <button class="btn-back" (click)="back()">
        <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <h1 style="text-align: center;">TOUS LES VILLAGES VACANCE</h1>
        <br>
    </div>
    <div class="container">
        <div class="row" >
            <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let vv of villageVacance | paginate: { itemsPerPage: 9, currentPage: actualPage}">
                <div class="w3-container" >
                    <div class="w3-card-4" style="width:100%;margin-top: 5px; margin-bottom: 21px;">
                      <img src="https://images.unsplash.com/photo-1539600937385-bd902dd379cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Alps" style="width:100%">
                      <div class="w3-container w3-center">
                        <h4 class="card-title" style="color: brown; font-size: 20px;height: 55px;">{{vv.nom}}</h4>
                        <p><b>Classement:</b>{{ vv.classement}}<p></p>
                        <p><b>Code Postal : </b> {{vv.codePostal}} </p>
                        <p><b>Commune : </b>{{ vv.commune}}</p>
                      </div>
                      <button [routerLink]="[vv.id]" class="button1">Détails<i class="fa fa-paper-plane-o ml-2"></i></button>
                    </div>
                  </div>
            </div>

        </div>
    </div>
    <pagination-controls (pageChange)="actualPage = $event" style="text-align: center;"></pagination-controls>
</body>
