.head{
    display: inherit;
    z-index: 2;
    padding-top: 3%;
    padding-left: 35px;    
   // padding-bottom: 3%;

    .btn-back {
        border: none;
        margin-top: 37px;
        background: transparent;
        color: #111111;
        cursor: pointer;
        mat-icon{
            font-size: 50px;
        }
    }
}
.button1 {
    width: 97%;
    border: none;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid brown;
  }
  
.button1:hover {
    background-color: brown;
    color: white;
  }