<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Company name</h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="font-size: 15px;">
          FestiBed, vous permet de réserver des places de festivals et des places d’hébergement pour offrir un large choix afin de satisfaire vos besoins. <br>
        Faites vos réservations dans FestiBed pour bénéficier des réservations des festivals et des hébergements partout en France à prix avantageux !

      </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">
        <div class="contacte">
        <h5 class="text-uppercase font-weight-bold">Contact</h5>
       
       
        <!-- Content -->
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">      
           
       <table>
         <tr>
           <td>
           
          <img class="image"  src="assets/images/icons/adresse.png">
           </td>
           <td>
             <b>  43 Avenue Alsace Lorraine, 38000 Grenoble </b>
            </td>
         </tr>
         <tr>
           <td>
            
            <img class="image" src="assets/images/icons/message.png">
           </td>
           <td>
            <b>  FestiBed@gmail.com</b>
           </td>
         </tr>
         <tr>
           <td>
           
           
          <img class="image" src="assets/images/icons/mobile-phone.png">
            
           </td>
           <td>
            <b>+ 33 752 24 48 02</b>
           </td>
         </tr>
         <tr>
           <td>
          
           
            
           <img class="image" src="assets/images/icons/facebook.png">
           </td>
           <td>
             <b> FestiBed </b>
           </td>
         </tr>
       </table>
      </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="font-size: 15px;">© 2020 Copyright:
    <a routerLink="accueil" > Groupe 2</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
